
html,
body {
    width: 100%;
    /*height: 100%;*/
    background: url('../images/login-background.png'); 
    background-size: cover;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;

}
.alert{
    text-align: center!important;
    background-color:#f1a52c;
}
.alert h4 a{
    float: left;
    position: relative;
    left:42%;
    margin-right:10px;
    color: #ffffff;
}
.loginPage{
    float: left;
    width:100%;

}
.logo{
    padding-top: 40px;
}
.loginPage p{
    color:#f1a52c;
    font-weight: bold;
    text-align: center;
    font-size: 26px;
}
.loginPage span{
    color:#58595b;
}
.loginPage .management{
    font-size: 13px;
    color:#919396;
    position: relative;
    margin-left: 120px;
    top: -15px;
    font-weight: bold;
}
.loginPage h1{
    color:#ffffff;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

.log-in {
    margin: 0 auto;
    padding-top: 70px;
    text-align: center;

}

.log-in input {
    height:60px;
    font-size:26px;
   
    /*width:600px;*/
    margin-bottom: 10px;
    background:#c1bcc4;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /*padding: 0 8px;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 6px;
}
.log-in h6{
    font-size: 26px;
    color: #ffffff;
}

.auth {
    font-size: 14px;
    color: #fff !important;
    display: block;
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px white;
    -webkit-transition: width 0.3s; /*Safari & Chrome*/
    transition: width 0.3s;
    -moz-transition: width 0.3s; /* Firefox 4 */
    -o-transition: width 0.3s; /* Opera */   
}

.authSuccess {
    font-size: 14px;
    color: #f1a52c;
    display: block;
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px yellow;
    -webkit-transition: width 0.3s; /*Safari & Chrome*/
    transition: width 0.3s;
    -moz-transition: width 0.3s; /* Firefox 4 */
    -o-transition: width 0.3s; /* Opera */   
}

.btn {
    border-radius: 50%;
    width: 90px;
    height:90px;
    border:1px solid #ffffff;
    margin-top:60px;
    background: none;

}

.btn .fa{
    color: #ffffff;
    line-height:75px;
}
.mail p {
    font-size: 16px;
    color:#ffffff;
    padding-top:50px;
    font-weight: 400;
}
.mail{
    float:left;
    width: 100%;
}
.mail a {
    font-size: 16px;
    color:#ffffff;
    font-weight: 400
}
.footer{
    float: left;
    width: 100%;
    text-align: center;
    padding-top:50px;
}
.footer p{
    font-size: 16px;
    color:#ffffff;
    font-weight: 400
}
.footer a{
    font-size: 16px;
    color:#ffffff;
}
.log-in input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1); 
    border: 1px solid rgba(81, 203, 238, 1);
}
.checkbox{
    float: left!important;
    left: 30px;
}
label{
    color:#ffffff;
    font-size: 16px;
    position: relative;
}
input[type=checkbox] { 
    -moz-transform: scale(1.7); 
}
*:focus {
    outline: 0 !important;
}
.radio input[type="radio"], .radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"]{
    height: auto;
    left: 0;
    width: auto;
}
.radio label, .checkbox label{
    padding-left: 5px;
}
.btn:focus {outline:0 !important;}
.app-btn{
    border-radius: 4px;
    height: 40px;
    margin-top: 10px;
}
@media (max-width: 768px){
    .alert h4 a{
        left: 36%;
    }
}
@media (max-width: 480px){ 

    html, body { 
        height: auto;
    }
    .alert h4{
        font-size: 16px;
    }
    .alert h4 a{
        left:32%;
        padding: 4px 12px;
        height: 30px;
        margin-top: 10px;
    }
    .logo p {
        font-size: 22px;
    }
    .loginPage h1 { 
        font-size: 30px;
    }
    .log-in { 
        padding-top:10px;

    }
    .log-in input { 

        font-size: 16px;
        height: 50px;
    }
    .btn {
        margin-top:25px;
        height: 70px;
        width: 70px;
    }
    .btn .fa {
        color: #ffffff;
        line-height: 42px;
    }
    .fa-3x {
        font-size: 2.5em !important;
    }
    .log-in h6 {
        font-size: 24px;

    }
    .mail p {
        padding-top:10px;
    }
    .footer {
        padding-top: 40px;
    }
    .checkbox{
        margin-top: 0;
    }
}
@media (max-width: 420px){
    .alert h4 a{
        left:30%;
    }
}
@media(max-width: 375px){
    .alert h4 a{
        left: 25%;
        margin-top: 0;
    }
}
@media (max-width: 320px){

    .log-in input {
        height: 40px;
        font-size: 16px;       
    }
    .alert h4 a{
        padding: 3px 12px;
    }
    .alert h4{
        font-size: 14px;
    }
    .loginPage h1 {
        font-size: 18px;
    }
    .logo p {
        font-size: 18px;
    }
    .container {
        padding: 0 10px 0 10px;
    }
    .log-in h6 {
        font-size: 20px;
        text-align: left !important
    }
    .btn .fa {
        color: #ffffff;
        line-height: 42px;
    }
    .fa-3x {
        font-size: 2.5em !important;
    }
}