body {
    font-family: 'Open Sans', sans-serif;
}

header{
    float: left;
    width: 100%;
}
.nav-tabs{
    border: none
}

header h1{
    font-size: 40px;
    font-weight: 700;
    color:#008cba;
}
header .fa{
    position:relative;
    margin-top: 20px;
    color:#008cba
}
.nav-tabs > li > a{
    border:  none
}
.nav li a:hover {
    border: none;
    background-color: #008cba;
    color:#ffffff
}

.active_menu {
    border: none;
    background-color: #008cba;
    color:#ffffff !important; 
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    border-color:#ffffff;
    background-color: #ffffff
}
.nav > li > a:hover, .nav > li > a:focus{
    text-decoration: none;
    background-color: #ffffff
}
#button > li > a  {
    background-color: #fff !important;
}
.hotelMenu  li a {
    font-size:25px;
}
.header-content{
    border-bottom:1px solid #dfdfdf;
    float: left;
    width: 100%;
    padding-bottom: 20px;
}
.wrap{
    float:left;
    width: 100%;
    border-bottom:1px solid #dfdfdf;
    border-right:1px solid #dfdfdf;
    /*border-top:1px solid #dfdfdf;*/
}
.wrap p{
    font-size:22px;
    color:#43484b;
    text-align: center;
    padding-top: 25px;
    font-weight: bold;

}
.diagram {
    margin-bottom: 20px;
}
.layer-1 {
    border-right:1px solid #8b8b90;
    border-left:1px solid #dfdfdf;
    padding-top:5px;
    min-height: 81px;
}
.layer-2{
    /*border-right:1px solid #8b8b90;*/
    padding-top: 5px;
    text-align: center;
    min-height: 81px;
}
.layer-3{
    /*border-right:1px solid #8b8b90;*/
    border-left:1px solid #8b8b90;
    min-height: 100px;
    padding-top: 5px;
    min-height: 81px;
}
.layer-3 span {
    color:#a6ae03
}
.layer-4 {
    padding-top: 5px;
    min-height:100px;
    border-right:1px solid #8b8b90;
    border-left:1px solid #8b8b90;
    min-height: 81px;
}
.layer-3 .fa-arrow-up{
    color:#a6ae03;
}
.layer-3 .fa-arrow-right{
    color:#f19f11;
}
.layer-3 .fa-arrow-down{
    color:#b71717;
}
.main-content{
    float: left;
    width: 100%;
    text-align: center;
}
.main-content p{
    font-size:22px;
    color:#43484b;
    padding-top: 25px;

}
.layer-one {
    width: 100%;
    float:left;
    border-bottom:1px solid #dfdfdf;
    border-right:1px solid #dfdfdf;

}

.main-content .layer-one .fa{
    padding-top:15px 
}
.heding{
    width: 100%;
    background-color:#333333;
    border-bottom: 2px solid #ffffff
}
h2{
    color:#ffffff;
    font-size:35px;
    text-align: center;
    font-weight: 600
}
.group{
    padding-top:10px
}
.section{
    background-color:#333333;
    color: #ffffff;
    text-align: center;
    min-height: 100px;
    border-right:2px solid #ffffff;
    padding-top:20px
}
.section p{
    font-size: 24px
}
.section-one h3{
    left:-5px;
    position: relative;
    margin: 10px 0 10px 0;
}
.section-one{
    background-color:#333333;
    color: #ffffff;
    text-align: center;
    min-height: 100px;
}
.section-part{
    border-right: 2px solid #ffffff;
}
.section-one p{
    font-size: 24px
}
.main{
    float: left;
    width: 100%;
}

.main-section{
    border-bottom: 1px solid #cccccc;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
}
.main-section p{
    font-size:20px;
    text-align: center
}
.main-section span{
    color:#aaaaaa;
    float: left;
    font-size: 20px
}
.one{
    padding: 0px;
    text-align:center;
}
.one code{
    background: none;
    color:#a1a900;
    font-size: 20px;
}
.two{
    font-size:20px;
    text-align: center;
    left: 13px;
}

.page-header h2 {
    color: #008cba;
    margin-top: 0px !important;
}

.page-header {
    margin-top: 0px;
}


.headline a {
    text-decoration: none;
    font-size:17px;

}
.headline .fa-home {
    left:-16px;
    position: relative;
}

.headline .fa{
    margin-left:10px
}

.stats {
    margin-top: -30px;
}

.nav-tabs { 
    left: -13px;
    position: relative;
}

.contentHome{
    float: left;
    width: 100%;
    background-color: #000000;
}

.waterfront {
    position: relative;
    float: left;
    width: 100%;
    border-bottom: 1px solid #ffffff;
    padding: 0;

}

.waterfront img {
    width: 100%;
    min-height: 200px;
    opacity: .6;
}

.waterfront h2 {
    color: #ffffff;    
    padding-top: 120px;
    position: absolute;
    top:10px;
    margin-left: 10px
}
.home .pull-right {  
    font-size: 17px;
    position: relative;
    top: -30px;
    padding-right: 20px; 
}


/* LOGIN FORM */

.login h1{
    border-bottom: 1px solid #d9d9d9;
    text-align: center;
    font-size:30px
}
.login {
    padding: 40px;
    max-width:500px;
    background-color: #FFFFFF;
    margin: 0 auto 10px;
    border-radius: 2px;
    overflow: hidden;
}
.login input {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}
.login input {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.login-submit {
    border: 0px;
    color: #fff;
    background-color: #008cba !important;
}

.bootstrap-select {
    margin-left: 15px !important;
}
#myChart {
    height: 400px !important;
}

.empty{
    position: relative;
    text-align: center;
    top: 70px;
    font-size: 20px;
}


@media (max-width: 360px){ 
    .waterfront h2{
        font-size:19px;
        padding-top:75px;
        margin-left:0;
        top: 0;
    }
    .waterfront img {
        min-height: 120px;
    }
    .page-header .logout{
        font-size:14px;
        position: relative;
        top: -5px;
    }

    .layer-1{
        text-align:center !important;
    }

    .headline {
        bottom:160px !important;
        float:right !important;
        text-align:center !important;
    }

    header h1{
        position:relative !important;
        top:20px !important;
        margin-left:10px !important;
        font-size:30px !important;
    }

    


}
@media (max-width: 768px){
    .headline{
        float: right;
        position: relative;
        bottom: 130px;
    }

}

