body {
    font-family: 'Open Sans', sans-serif;    
    width: 100%;
    min-height: 100%;
    background: url('../images/login-background.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    background-color: #000;
    position: relative;

}
.stats{
    overflow-x: hidden;
}
html{
    height: 100%;
}
.modal-content{
    position: relative;
    top: 100px;
}
.headline {
    margin-bottom: 10px;
}
.nav-tabs .headline .fa{
    color: #a6ae03;
    margin: 0;
    font-size:32px;
}
.nav-tabs .headline .fa-home{
    position: relative;
    left: 15px;
}
.nav-tabs .headline .fa-sign-out{
    float: right;
    position: relative;
    right: 15px;
}
.nav-tabs .headline span{
    color: #555555;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif !important;
    padding-bottom: 10px;
}
.nav .open >.dropdown-menu > li > a:hover{
    background-color: #080505;
    color:#ffffff;
}


/*Gdynia*/

header{
    float: left;
    width: 100%;
    background-color:#080505;
    margin-top:20px;
    text-align: center;
    padding-bottom: 10px;
}

.logo{
    float: left;
    z-index: 999;
    font-size: 18px;
}
.nav-tabs{
    border: none
}
.nav > li > a:hover, 
.nav > li > a:focus{
    background:none !important
}
.nav .open > a,
.nav .open > a:hover, .nav .open > a:focus{
    background:none !important
}
.nav-tabs > li > a{
    border: none !important
}
header .title{
    font-size:34px;
    font-weight: 700;
    color:#FFFFFF;
    text-align: center;
    margin-top:28px;
    text-transform: uppercase;
    width: 100%;
}
.logo .fa{
    position:relative;
    margin-top: 20px;
    color:#FFFFFF;
}
.nav .fa:hover{
    background:none;
}
.headlineIcon{
    padding-top:28px;
}
.headlineIcon img {
    width:40px;
    height:40px;
    background: none;
}
.active_menu {
    background-color: #080505;
    color:#ffffff !important;
}
.empty {
    font-size: 25px;
    color: #fff;
    text-align: center;
    margin-top: 30px;
}
.nav-tabs{
    border-bottom: none !important;
}
.nav-tabs > li > a{
    border:  none
}
.dropdown-menu li a{
    font-size:25px;
}
.wrap{
    float:left;
    width: 100%;
    border-bottom:1px solid #615e62;;
    border-top: none; 
}
.wrap p{
    font-size:22px;
    color:#f1a52b;
    text-align: center;
    padding-top: 25px;
    font-weight: bold;

}
.diagram {
    margin-bottom: 20px;
}
.layer-1 {
    padding-top:5px;
    float:left;
    min-height: 90px;
     width:25%
}
.layer-2{
    padding-top: 5px;
    text-align: center;
    float: left;
    min-height: 90px;
     width:25%
}
.layer-3{
    float: left;
    min-height: 90px;
    padding-top: 5px;
     width:25%
}
.layer-4{
    float: left;
    padding-top: 5px;
    text-align: center;
    min-height: 90px;
     width:25%
}
.main-content{
    float: left;
    width: 100%;
    text-align: center;
}
.main-content p{
    font-size:22px;
    color:#ffffff;
    padding-top: 25px;

}
.layer-one {
    width: 100%;
    float:left;
    border-bottom:1px solid #615e62;;
}
.heding{
    margin-top: 0;
    width: 100%;
    background-color:#333333;
    border-bottom: 2px solid #ffffff
}
.modal-title{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
.modal-body p{
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
}
.modal-body a{
    color: #000000
}
.modal-header{
    border: none !important
}
h2{
    color:#ffffff;
    font-size:35px;
    text-align: center;
    font-weight: 600}

/*amsterdam*/
.heding{
    width: 100%;
    background-color:#0a0a0a;
    border-bottom: 2px solid #ffffff;
    float: left;
}
.heding h6 {
    font-size: 22px;
    color:#fff;
    float: left;
}
.graph{
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.section{
    background-color:#3e3f49;
    color: #ffffff;
    text-align: center;
    min-height: 105px;
    border-right:2px solid #ffffff;
    padding-top:20px
}
.section-heading{
    float: left;
    width: 100%;
}
.section p{
    font-size: 24px !important
}
.section .group{
    padding-top:10px;
}
.section-one h3{
    left:-5px;
    position: relative;
}
.section-one{
    background-color:#3e3f49;
    color: #ffffff;
    text-align: center;
    height:105px;
}
.section-part{
    border-right: 2px solid #ffffff;
    padding-left: 0;
}
.section-part-two{
    padding-left: 0;
}
.section-one p{
    font-size: 24px
}
.main{
    float:left;
    width: 100%;
}
.main-section:nth-child(12){
border-bottom: none;
}
.main-section{
    border-bottom: 1px solid #232522;
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    float: left;
    width: 100%;
}
.total-section{
    border-top: 2px solid #fff !important;   
}
.main-section p{
    font-size:20px;
    text-align: center;
    color:#ffffff;
}
.main-section span{
    color:#ffffff;
    float: left;
    font-size:17px
}
.one{
    padding: 0px;
    text-align:center;
    width: 16.6%
}
.percent{
    color:#ffffff !important
}
.one code{
    background: none;
    color:#a1a900;
    font-size: 20px;
}
.two{
    font-size:20px;
    text-align: center;
    left: 13px;
}
.part{
    position: relative;

}
/*amsterdam-arena*/

.mainHotel{
    float:left;
    width: 100%;
    background-size: cover;
}
.wrap-content{
    float:left;
    width: 100%;
    border-bottom:2px solid #dfdfdf;
    text-align: center;
}
.wrap-content h6{
    font-size:22px;
    color:#ffffff;
}
.mainHotel-content .layer-1{
    border-right:1px solid #8b8b90;
    padding-top:5px;
}
.mainHotel-content .layer-2{
    border-right:1px solid #8b8b90;
}
.mainHotel-content{
    float: left;
    width: 100%;
    text-align: center;
}
.mainHotel-content p{
    font-size:28px;
    color:#ffffff;
}
.mainHotel-content .layer-one{
    width: 100%;
    float:left;
    border-bottom:1px solid #615e62;
    border-right: 0px;
    border-left: 0px;
}
.mainHotel-content .layer-3{
    width: 33%;
}
.mainHotel-content .layer-4{
    width: 33%;
}
.mainHotel-content .layer-3 p{
    padding-top:30px;
}
.mainHotel-content .layer-3 span{
    color:#a6ae03
}
.mainHotel-content .layer-4 .fa-arrow-up{
    color:#a6ae03;
}
.mainHotel-content .layer-4 .fa-arrow-right{
    color:#f19f11;
}
.layer-4 .fa-arrow-down{
    color:#b71717;
}
.mainHotel-content .layer-one .fa{
    padding-top:20px 
}
.mainHotel-content table {
    float: left;
    width: 100%;
}
.mainHotel-content table tr {
    border-bottom: 1px solid #615e62;
}
.mainHotel-content table tr td,
.mainHotel-content table tr th {
    width: 50%;
    text-align: left;
}
.mainHotel-content table tr td:last-child p {
    text-align: center;
    width: 52%;
}
.mainHotel-content table tr td:first-child p {
    color: #f1a52b;
    text-align: left;
}
.mainHotel-content table tr td p {
    text-align: left;
    color: #fff;
    margin: 0 0 3px 0;
}
.mainHotel-content table tr td ul {
    padding-left: 65px;
    margin: 0;
}
.mainHotel-content table tr td ul li {
    list-style-type: none;
}
.mainHotel-content table tr td:first-child ul li p {
    color: #fff;
}
.mainHotel-content table tr th {
    border-bottom: 2px solid #dfdfdf;
}
.mainHotel-content table tr th h6 {
    font-size: 28px;
    color: #fff;
    font-weight: 300;
}

/*menu*/

#menu {
    margin-bottom: 60px !important;
    background:#282828;
}
.hotel-menu{
    float: left;
    width: 100%;
}

.contentHome {
    background-color: #000000;
    float: left;
    width: 100%;
}
.page-header-home{
    float: left;
    width: 100%;
    background:#0b0706;
    border-bottom: 1px solid #ffffff;
    text-align:center;
     text-transform: uppercase;
}
.page-header-home h2 {
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
    margin: 0;
    padding-top:30px;
    padding-bottom: 30px;
}
.logout{
    font-size: 17px;
    color: #ffffff;
    position: relative;
    top: -27px;
    float: right;
}

.logout:hover{
    color: #a6ae03;
    text-decoration: none;
}

.waterfront {
    border-bottom: 1px solid #ffffff;
    float: left;
    padding: 0;
    position: relative;
    width: 100%;
}
.waterfront img {
    height:150px;
    opacity: 0.6;
    width: 100%;
}
.waterfront h2 {
    color: #ffffff;
    margin-left: 10px;
    padding-top:70px;
    position: absolute;
    top: 10px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
.nav-tabs > li > a{
    background: none !important;
}
.link {
    color: #a1a900 !important;
}
*:focus {
    outline: 0 !important;
}
#dateBtn{
    bottom:50px;
    position: relative;
    float: right;
}

.bootstrap-select {
   position: absolute;
    right: 0;
    top: 3px;
    width: auto !important;
}
.bootstrap-select li a {
    font-size: 14px !important;
}
select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    width: 110px;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    cursor:pointer;
}
#sm-menu{
    float: left;
    width:300px;
    padding: 10px;
    margin: 0;
}
#sm-menu .fa-sign-out{
    float:right;
    right: auto;
}
#sm-menu .fa-home{
    left: auto;
}
.container{
    padding-top: 0!important;
}
@media (max-width:1024px){
    .container{
        width:100%;
    }
}
@media (max-width: 992px) {
    header .nav-tabs {
        position: absolute;
        left: 0;
    }
    .section p{
        font-size: 18px !important;
    }
    h3{
        font-size: 26px;
    }
    .section-one p{
            font-size: 16px!important;
        }
        .one{
            float: left;
        }
         .two{
        float: left;
    }
}
@media (max-width:980px){
    header .title{
        font-size:30px;
        float: left;
        margin-top: 18px;
    }
    .heding{
        padding-bottom:20px;
    }
    #dateBtn{
        bottom:-3px;
        float: none;
        left: 50%;
        margin-left: -65px;
        width: 130px;
    }
    .logo .fa{
        margin-top:7px;
    }
    .headlineIcon{
        padding-top:15px;
    }
    .mainHotel-content .layer-4{
        float: left;
    }
    .section-part-two{
        float:right;
       }
       .section-part{
           float: left;
           border: none;
       }
    .section{
        float: left;
        min-height:88px;
    }
    .section-one{
        float: left;
        height: 88px;
    }
    .one code{
        font-size:20px;
    }
    .main-section{
        float: left;
        width: 100%;
    }
     .wrap-content h6 {
        
    }
    .content-heading h6 {
        float: none;
        margin: 0;
        padding: 10px 0;
    }
}
@media (max-width: 768px) {
    .headlineIcon img {
        position: absolute;
        right: 15px;
    }
       .heding h6{
        float: none;
        text-align: center;
    }
    .mainHotel-content table tr td:last-child p  {
        width: 83%;
    }
}
@media (max-width: 750px){
      .section{
        min-height: 110px;
    }
    .section-one{
         min-height: 110px;
    }
}
@media(max-width:667px){
    header .title{
        float: left;
        font-size: 24px;
        margin-top: 22px;
    }
    .headlineIcon img{
        height:29px; 
        padding-top:0; 
        width:29px;
    }
    .dropdown .dropdown-menu li a{
        font-size: 15px;
    }
    .main-content p{
        font-size: 18px;
    }
    .pull-left{
        width: 100%
    }
    .waterfront h2{
        font-size: 26px;
    }
    .mainHotel-content p{
        font-size: 22px;
    }
    .wrap p{
        font-size: 18px;
    }
    .page-header-home{
        padding-bottom: 15px;
    }
    h2{
        font-size: 22px;
    }
    .headlineIcon{
        padding-top: 22px;
    }
    .logo{
        font-size: 16px;
    }
    h3{
        font-size: 20px;
    }
    .section p{
        font-size: 16px !important;
    }
    .section-one p{
        font-size: 14px !important;
    }
}
@media(max-width:640px){
    .section-one h3{
        font-size: 22px;
    }
}
@media(max-width:375px){
    .wrap p{
        font-size:14px !important;
        padding-top:35px;
    }
    .main-content p{
        font-size: 14px !important;
    }
    header .title{
        font-size: 14px!important;
        width: 88%;
    }
    .headlineIcon{
        float: right;
    }
    .mainHotel-content p{
        font-size: 18px !important;
    }
    .logo{
        left:-20px;
        font-size:14px;
    }
    .heding .logo{
        left:-25px;
    }
    .page-header-home h2{
        font-size:30px;
        padding-bottom: 15px;
    }
    .waterfront h2{
        font-size: 19px !important;
        padding-top: 90px !important;
    }
    .section{
        padding-left: 10px;
    }
    .section p{
        font-size: 11px !important
    }
    .section-one h3{
        font-size: 13px !important
    }
    .section-one p{
        font-size: 11px !important
    }
    .part{
        float: left;
        position: relative;
    }
    .one{
        float: left;
    }
    .main-section p{
        font-size: 13px !important;
    }
    .main-section span{
        font-size: 13px;
    }
    .one code{
        font-size: 15px;
    }
    .wrap-content h6{
        font-size: 14px!important;
    }
    .heding h1{
      font-size: 14px!important;
       width: 87% !important;
    }
    .stats h1{
       width: 87% !important;
        font-size: 14px!important;
    }
    .heding h6{
        float: none;
        text-align: center;
    }
    .mainHotel-content .layer-one .fa{
        font-size: 35px;
    }
    .waterfront img {
        min-height: 150px !important;
    }
    .layer-3{
        border-right: 1px solid #ffffff
    }
    .layer-2{
        border-right: 1px solid #ffffff
    }
    .layer-1{
        border-right: 1px solid #ffffff
    }
    header .nav-tabs {
        left: 15px;
    }
    .mainHotel-content table tr td ul {
        padding-left: 15px;
    }
} 
@media (max-width: 360px){
    .logout{
        float: left;
        width: 100%;
        padding-top: 10px;
        top: 0;
    }
    .heding h1{
        left: 0px !important;
        position: absolute;
        width: 100% !important;
    }
    h2 {
        margin-top: 0 !important;
    }
    .waterfront h2{
        padding-top: 110px !important;
    }
    .page-header-home h2{
        font-size: 30px;
    }
    header .title{
        font-size: 13px !important;
        width: 100%;
    }
    .nav-tabs .headline .fa{
        font-size: 20px;
    }
    .headlineIcon{
        padding-top:20px;
    }
    .main-content p{
        font-size: 12px !important;
        font-weight: 600;
        padding-top:30px;
    }
    .main-section span{
        font-size: 13px;
    }
    .main-section p{
        float: none;
    }
    .one code{
        font-size: 17px;
    }
    .main-section{
        float: left;
    }
    .one{
        float: left;
    }
    .two{
        float: left;
    }
    .section p{
        font-size: 11px !important;
        left: -10px !important;
        position: relative !important;
    }
    .section .group{
        left: 0;
    }
    .section-one h3{
        font-size: 12px !important;
        left: 0 !important;
        position: relative !important;
        top: -10px!important;
    }
    .section-one p{
        font-size: 10px !important;
        position: relative !important;
        top: -10px !important;
    }
    .section-part{
        border: none;
    }
    .wrap-content h6{
        font-size: 16px !important;
        float: left;
    }
    .mainHotel-content .layer-3{
        float: left;
    }
    .mainHotel-content .layer-4{
        float: left;
    }
    .mainHotel-content p{
        font-size: 20px;
    }
    .page-header-home h2{
        font-size: 30px;
    }
    .heding h2{
        position: relative;
        top: 3px;
        float: left;
        width:100%;
    }
    .heding h6
    .heding .logo{
        left: -30px;
    }
    .heding .headlineIcon img{
        left:17px;
        position: relative;
    }
    .heding h6{
        text-align: center;
        float: none;
    }
     .section {
        padding-right: 0;
         padding-left: 15px;
    }
}
@media(max-width:320px){
    .logo{
        left: -30px;
        position: relative;
    }
    .dropdown .dropdown-menu li a{
        font-size: 13px;
    }
    header .title {
        left:25px !important;
        font-size: 14px !important;
        width: 88%;
    }
    .main-section span{
        font-size: 11px !important;
    }
    .main-section p{
        font-size: 11px  !important
    }
    .mainHotel-content p{
        font-size: 20px;
    }
    .wrap p{
        font-size:13px !important
    }
    .wrap .re-forecast p{
        position: relative;
        left: -13px;
    }
    .main-content .layer-2 p{
        font-size: 11px;
    }
    .page-header-home h2{
        font-size: 26px;
    }
    .main-content p{
        font-size: 11px !important;
        padding-top: 30px;
    }
    .waterfront h2{
        font-size: 17px !important;
        top: 0;
    }
    .headlineIcon img{
        right: 5px;
    }
    .heding h1{
        left:17px !important;
        font-size: 13px !important;
        width: 87%  !important;
    }
    .heding .logo{
        left: -29px
    }
    .heding .headlineIcon{
        left: 18px;
    }
    .one code{
        font-size: 11px !important
    }
    .wrap-content h6{
        font-size: 14px !important
    }
    .headlineIcon img{
        height:27px !important;
        padding-top:0 !important;
        width:27px !important;
    }
    .headlineIcon{
        padding-top: 22px !important;
    }
      .section {
        padding-left: 10px;
    }
    .section-one{
        padding-left: 0px;
    }
    .section-part-two{
        left: 10px;
    }
}
@media(max-width:570px){
    .section p{
        font-size: 16px !important
    }
    .section-one p{
        font-size: 13px;
    }
    .one code{
        font-size: 16px;
    }
    header .title{
        font-size: 20px;
        margin-top: 25px;
    }
    .main-content p{
        font-size: 12px;
    }
    .wrap p{
        font-size: 14px;
    }
    .main-section p{
        font-size: 16px;
    }
     .logout{
        float: none;
        top: 0;
    }
    .page-header-home h2{
        padding-top: 20px;
        padding-bottom: 0;
        font-size: 26px !important
    }
}
@media(max-width:520px){
    .mainHotel-content p{
        font-size: 20px;
    }
    .mainHotel-content .layer-3 p{
        padding-top: 0;
        position: relative;
        top: 30px; 
    }
    .mainHotel-content .layer-one .fa{
        font-size: 35px;
    }
    header .title{
        font-size:16px;
        margin-top: 28px;
    }
    .section p{
        font-size: 11px !important
    }
    .section-one h3{
        font-size: 20px;
    }
    .section-one p{
        font-size: 11px !important
    }
    .main-content p{
        font-size: 16px;
    }
    .wrap-content h6{
        font-size: 22px;
        float: left;
    }
    .one code{
        font-size: 12px 
    }
    .main-section p{
        font-size: 12px;
    }
    .one p{
        font-size: 12px;
    }
    .main-section span{
        font-size: 12px;
    }
    .section-one h3{
        font-size: 14px;
    }
    .waterfront h2{
        font-size: 26px;
    }
    h2{
        font-size: 22px !important;
    }
     .nav-tabs .headline .fa{
        font-size: 20px;
    }
      .nav-tabs .headline span{
        font-size: 16px;
    }
}
@media(max-width:480px){
     .page-header-home h2{
        font-size:24px !important
    }
    .mainHotel-content table tr td {
        width: 100%;
        text-align: center;
    }
    .mainHotel-content table tr td:first-child p {
        width: 130%;
        text-align: center;   
    }
    .mainHotel-content table tr td:first-child ul li p {
        text-align: left;
    }
}
@media(max-width:420px){
    .section-one h3{
        font-size: 18px;
    }
    .one p{
        font-size: 13px;
    }
    .main-section span{
        font-size: 13px;
    }
    .one code{
        font-size: 14px;
    }
    .main-section p{
        font-size: 13px;
    }
    .wrap p{
        font-size: 16px;
    }
    .section-one p{
        font-size: 11px !important;
    }
      .section-one{
        padding-left:5px;
    }
    .page-header-home h2{
        font-size: 18px !important
    }
    .logo .fa{
        margin-top: 10px;
    }
}
