
@media (max-width: 560px){
    .dropdown .dropdown-menu li a{
        font-size: 15px;
    }
}
@media (max-width: 768px){
     header h1{
        text-align: center;
    }
}
@media (max-width: 320px){
   .dropdown .dropdown-menu li a{
        font-size: 13px;
    }
    header h1{
        text-align: center;
    }
}
@media (max-width: 360px){
    .section-one{
        padding-top: 15px;
    }
    .section-one .section-part{
        border:none
    }
    .heding {
        float:none;
    }
}
