.label {
    font-weight: 600;
    font-size: 90%;
}
#openingDate {
    padding-left: 25px;
}
.file-preview-image {

    width: 100%;
}

.green {
    color:  #43ac6a;
}

.error {
    color: #f04124;
    font-size: 12px;
}
/* ADMIN PANEL */

/* SPINNER  */

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    
}

.spinner > div {
    background-color: #43ac6a;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% { 
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.check {
    margin-top: 15px !important;
}
.push {
    margin-bottom: 20px;
}